*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.top-bar{
    width: 100%;
    height: 53px;
    background-color: #f4f4f4;
}

.text{
    width: fit-content;
    margin-left: 789px;
    padding-top: 20px;
    font-size: 14px;
}

.text .para { 
    display: inline;
}

.text .link{
    margin-left: 15px;
    color: #171a20;
}

.nav-bar{
    display: inline-block;
}

.left-side{
    width: fit-content;
    float: left;
}

.logo{
    margin-left: 48px;
    padding-top: 16px;
    cursor: pointer;
}

.menu-items{
    margin-left: 477px;
    padding-top: 18px;
    width: fit-content;
    padding-bottom: 18px;
    padding-left: 57px;
    float: left;
}

.list li{
    display: inline;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
    padding: 6px 16px;
}

.list li:hover{
    background-color: #f4f4f4;
    border-radius: 4px;
}

.right-side{
    float: left;
    margin-left: 530px;
    margin-top: 12px;
}

.icons li{
    display: inline-block;
}

.icons li svg{
    display: inline;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.icons li svg:hover{
    background-color: #f4f4f4;
}

.model-y-img{
    background-image: url(assets/model-y.png);
}

.model-3-img{
    background-image: url(assets/model-3.png);
}

.model-x-img{
    background-image: url(assets/model-x.png);
}

.model-s-img{
    background-image: url(assets/model-s.png);
}

.cybertruck-img{
    background-image: url(assets/cybertruck.png);
}

.solar-panels-img{
    background-image: url(assets/solar-panels.png);
}

.solar-roof-img{
    background-image: url(assets/solar-roof.png);
}

.powerwall-img{
    background-image: url(assets/powerwall.png);
}

.accessories-img{
    background-image: url(assets/accessories.png);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main-img{
    display: inline-block;
    position: relative;
    width: 88%;
    height: 92%;
    margin: 0;
    margin-top: 16px;
    margin-left: 112px;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.main-section-solar{
    width: 94%;
    clear: both;
    display: flex;
}

.main-img-right{
    display: inline-block;
    position: relative;
    width: 88%;
    height: 92%;
    margin: 0;
    margin-top: 16px;
    margin-left: 16px;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.section{
    color: white;
    display: block;
    font-weight: bold;
}

.section-vdo{
    display: block;
    position: relative;
    padding-bottom: 171px;
    width: 100%;
    height: auto;
    color: white;
}

.frst-line{
    font-size: 56px;
    margin-top: 100px;
    text-align: center;
}

.frst-line-vdo{
    margin-top: 469px;
    margin-left: 48px;
    text-align: left;
    font-size: 40px;
}

.scnd-line{
    font-size: 28px;
    color: white;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
}

.scnd-line sup{
    font-size: 9px;
    text-align: center;
}

.thrd-line{
    font-size: 17px;
    margin-top: 4px;
    text-align: center;
}

.thrd-line sup{
    font-size: 7px;
    text-align: center;
}

.buttons{
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 548px;
  margin-left: 570px;
  margin-bottom: 32px;
}

.buttons-solar{
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 548px;
    margin-left: 147px;
    margin-bottom: 32px;
}

.buttons-vdo{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

.frst-btn {
    background-color: #3e6ae1;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}

.frst-btn a{
    color: white;
    text-decoration: none;
}

.scnd-btn {
    background-color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    float: left;
    margin-left: 16px;
    cursor: pointer;
}

.scnd-btn-vdo{
    background-color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    float: left;
    margin-left: 48px;
    margin-top: 24px;
    cursor: pointer;
}

.scnd-btn a{
    color: #393c41;
    text-decoration: none;
}

.scnd-btn-vdo a{
    color: #393c41;
    text-decoration: none;
}

.model-x{
    text-decoration: underline;
    cursor: pointer;
}

.cybertruck-logo{
    width: 299.95px;
    height: 84.37px;
    display: inline-block;
    position: relative;
    margin-top: 109px;
    margin-left: 690px;
}

.cybertruck-btn{
    background-color: #111111; 
    border-radius: 0; 
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px inset;
    cursor: pointer;
    opacity: 0.9;
}

.cybertruck-btn:hover{
    opacity: 0.80;
}

.cybertruck-btn a{
    color: #a2a3a5;
}

.terms{
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 654px;
    margin-right: 654px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #5c5e62;
    padding-bottom: 14px;
}

.terms a{
    color: #393c41;
}

.footer-bar {
    width: 100%;
    height: 55px;
}

.footer-bar footer{
    color: #5c5e62;
    font-size: 12px;
    margin-top: 52px;
    margin-left: 661px;
}

footer p{
    display: inline;
    margin-left: 14px;
    font-weight: bold;
    cursor: pointer;
}