*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.top-bar{
    width: 100%;
    height: 53px;
    background-color: #f4f4f4;
}

.text{
    width: fit-content;
    margin-left: 789px;
    padding-top: 20px;
    font-size: 14px;
}

.text .para { 
    display: inline;
}

.text .link{
    margin-left: 15px;
    color: #171a20;
}

.nav-bar{
    display: inline-block;
}

.left-side{
    width: fit-content;
    float: left;
}

.logo{
    margin-left: 48px;
    padding-top: 16px;
    cursor: pointer;
}

.menu-items{
    margin-left: 477px;
    padding-top: 18px;
    width: fit-content;
    padding-bottom: 18px;
    padding-left: 57px;
    float: left;
}

.list li{
    display: inline;
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;
    padding: 6px 16px;
}

.list li:hover{
    background-color: #f4f4f4;
    border-radius: 4px;
}

.right-side{
    float: left;
    margin-left: 530px;
    margin-top: 12px;
}

.icons li{
    display: inline-block;
}

.icons li svg{
    display: inline;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.icons li svg:hover{
    background-color: #f4f4f4;
}

.model-y-img{
    background-image: url(assets/model-y.png);
}

.model-3-img{
    background-image: url(assets/model-3.png);
}

.main-img{
    display: inline-block;
    position: relative;
    width: 88%;
    height: 92%;
    margin: 0;
    margin-top: 16px;
    margin-left: 112px;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.section{
    color: white;
    display: block;
    font-weight: bold;
}

.frst-line{
    font-size: 56px;
    margin-top: 100px;
    text-align: center;
}

.scnd-line{
    font-size: 28px;
    color: white;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
}

.thrd-line{
    font-size: 17px;
    margin-top: 4px;
    text-align: center;
}

.thrd-line sup{
    font-size: 7px;
    text-align: center;
}

.buttons{
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 548px;
  margin-left: 570px;
  margin-bottom: 32px;
}

.frst-btn {
    background-color: #3e6ae1;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    float: left;
}

.frst-btn a{
    color: white;
    text-decoration: none;
}

.scnd-btn {
    background-color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    float: left;
    margin-left: 16px;
}

.scnd-btn a{
    color: black;
    text-decoration: none;
}